<%= stylesheet_link_tag "assessments" %>
<div id="background">
<h1>New Assessment</h1>
<div id="mainshell">
<%= render 'form', assessment: @assessment %>

<%= link_to 'Back', assessments_path %>
</div>
</dive>