/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$navbar-font-size: 1.5rem !default;
@import "materialize";
@import "custom";

@mixin radial-background($inner, $outer)
{
    background: white; 
    background: -webkit-linear-gradient($inner, $outer); 
    background: -o-linear-gradient($inner, $outer); 
    background: -moz-linear-gradient($inner, $outer); 
    background: linear-gradient($inner, $outer); 
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}


.float
{
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 0px;
  width: 0px;
  border: 0px none;
  line-height: 0px;
}

.nav-wrapper
{
    background-color: #170f11;
}

.page-footer
{
    background-color: #170f11;
}

.btn
{
    background-color: #b6d7b9;
    color: #000000;
}

.container
{
    text-align: center;
    overflow: hidden;
}

#login-card
{
    width: 45%;
    margin: 0 auto;
}

.img
{
    margin-left: 180px;
    background-blend-mode: color-dodge;
    border-radius: 425px;
}

#channel-panel
{
    background-color: #f18805;
    overflow-y: hidden;
}