<footer class="page-footer center-align">
    <div class="container">
        <span class="white-text">*The name is due to change in later stages of development of the service.<br> All media is used under fair use policies provided by Australian laws.</span>
    </div>
    <div class="footer-copyright center-align">
        <span class="white-text">© Copyright Archelaus Design</span>
    </div>
</footer>